.primary {
    -fx-background-color: #337ab7;
    -fx-border-color: #2e6da4;
    -fx-background-radius: 6px;
    -fx-border-radius: 5px;
}

.primary:focused {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.form-control {
    -fx-background-color: WHITE;
    -fx-border-color: #CCC;
    -fx-border-radius: 3px;
}

.send-box {
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-border-color: WHITE;
}

.VBox-messages {
    -fx-spacing: 15;
    -fx-padding: 0 0 20 20;
    -fx-alignment: BOTTOM_LEFT;
}

.message-input {
    -fx-text-fill: WHITE;
    -fx-border-radius: 0;
    -fx-border-width: 0 1 0 1;
}


.message-outer-HBox HBox {
    -fx-border-color: BLACK;
    -fx-text-fill: WHITE;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
    -fx-label-padding: 5 20 5 20;
    -fx-padding: 5 5 5 5;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 3;
    -fx-fit-to-width: true;

    -fx-max-width: 500;
    -fx-min-width: -1;

    -fx-min-height: -1;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
    -fx-max-height: -1;

}

.message-outer-HBox {
    -fx-background-color: red;
    -fx-label-padding: 5 20 5 20;
    -fx-padding: 0 10 0 10;
    -fx-spacing: 3;

    -fx-min-height: -1;
    -fx-max-width: -1;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
}

.message-outer-HBox HBox > * {
    -fx-wrap-text: true;
    -fx-text-fill: WHITE;
    -fx-font-size: 20;
    -fx-padding: 10 10 10 10;

    -fx-max-width: -1;
    -fx-max-height: -1;
    -fx-min-width: -1;
    -fx-min-height: -1;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
    -fx-font-family: OpenSansEmoji;

}

.audience-message {
    -fx-alignment: CENTER_RIGHT;
}

.control-icon {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-cursor: CLOSED_HAND;
}

.control-icon:hover {
    -fx-background-radius: 25px;
    -fx-background-color: #353c44;
}

.main-border * {
    -fx-background-color: #17212b;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "seguiemj";
    src: url(../fonts/seguiemj.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "OpenSansEmoji";
    src: url(../fonts/OpenSansEmoji.ttf);
}