.primary {
    -fx-background-color: #337ab7;
    -fx-border-color: #2e6da4;
    -fx-background-radius: 6px;
    -fx-border-radius: 5px;
}

.primary:focused {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.form-control {
    -fx-background-color: WHITE;
    -fx-border-color: #CCC;
    -fx-border-radius: 3px;
}

.send-box {
    -fx-background-color: white;
    -fx-border-color: #606060;

}


.VBox-messages {
    -fx-spacing: 15;
    -fx-padding: 0 0 20 20;
    -fx-alignment: BOTTOM_LEFT;
}

.message-input {
    -fx-border-color: white;
}

.message-label {
    -fx-background-color: RED;
    -fx-border-color: BLACK;
    -fx-text-fill: WHITE;
    -fx-font-size: 30;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
    -fx-start-margin: 10 10 10 10;
    -fx-label-padding: 5 20 5 20;
}

.audience-message {
    -fx-background-color: #0b1382;
}

.user-message {
    -fx-background-color: #289eed;
}